.app_wrapper {
    display: grid;
    grid-template-areas: 'profile dialogs' 'users dialogs';
    grid-template-rows: 100px 1fr;
    grid-template-columns: 4fr 8fr;
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-width: 1024px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height:900px;
}

.profile {
    grid-area: profile;
    background-color: #e2e2e2;
    border-right: 1px solid #a3a3a3;
}

.userList {
    grid-area: users;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dialog {
    grid-area: dialogs;
}

a{
    text-decoration: none;
    color: black;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #bdbfb7;
    border: 0px none #fffdf5;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b6b75;
}

::-webkit-scrollbar-thumb:active {
    background: #474747;
}

::-webkit-scrollbar-track {
    background: #fff9fc;
    border: 0px none #fef9ff;
    border-radius: 2px;
}

::-webkit-scrollbar-track:hover {
    background: #bcc3c7;
}

::-webkit-scrollbar-track:active {
    background: rgba(235, 240, 233, 0.64);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

