.yourAvatar img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 10px;
}

.searchPlace{
    background-color: #e2e2e2;
}

.chatHeader{
    font-size: 20px;
    color: #50a7ff;
}

