.myMessage{
    background-color: #b8b8b8;
    max-width: 50%;
    min-width: 10px;
    text-align: left;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.0rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 15px;
    float: right;
    font-size: 12px;
}


.Data{
    margin-left: 10px;
    font-size: 10px;
    margin-top: 3px;
}
.myData{
    margin-top: -20px;
    margin-right: 10px;
    font-size: 10px;
    float: right;
}
.message_wrapper{
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.userMessage{
    background-color: #474747;
    max-width: 50%;
    min-width: 10px;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: azure;
    border-radius: 1.0rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-top: 15px;

}
.userMessage p {
    font-size: 12px;
}

.userImage img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.messages{
    display: flex;
}